/* Style the buttons that are used to open and close the accordion panel */
.names{
    text-align: center;
    
}
 .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 16px; 
    margin-bottom: 12px;
    width: 30%;
    border: 1px solid black;
    outline: none;
    transition: 0.4s;
    display: grid;
    grid-gap: 15px;
    left: 50%;
    transform: translate(-50%, -4%); 
   
  }
  

  .active, .accordion:hover {
    background-color: rgb(60, 59, 59);
  }
  