.flexbox-container{
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: flex-end;
margin-top: 50px;
justify-content: flex-start;
align-content: stretch;
margin-left: 30px;
}

.flexbox-item-1{
    min-height: 200px;
    width: 600px;
    margin: 10px;
    background-color: #52c7e2;
    
}


.imagecontainer{
    justify-content: center;
    align-items: stretch;
    min-height: 300px;
    width: 700px;
    
    margin: 10px;
}

.delivery{
    font-size: 70px;
}
.input {
    width: 400px;
    height: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.button {
    border-radius: 15px;
    border: 0.1px solid black;
    width: 30px;
    height: 30px;
    background-color: white;
}

.descriptioncontainer{
    display: flex;
    justify-content: space-between;
}

.itemnumber{
    min-height: 10px;
    width: 300px;
    margin-top: 100px;
    margin-left: 30px;
    text-align: center;
    margin-right: 30px;
}

.descriptionicons{
    font-size: 40px;
}

.guarantee{
    text-align: center;
    color: rgb(199, 191, 191);
}
.shoppingbutton{
    border: none;
}
.title{
    font-size: 70px;
}
.categorytitle{
    text-align: center;
    margin-top:70px;
}
.shopping{
    color: #52c7e2;
    font-weight: bold;
    margin-bottom: 50px;
}
.categorycontainer1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    text-align: center;
    
}
.categorycontainer2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}
.category{
    min-height: 200px;
    width: 200px;
    margin: 10px;
    background-color: #dfdfdf;
}

.category:hover{
    border: 1px solid black;
}
.categoryicon{
    padding: 50px;
    font-size: 50px;
    color: #36bad7;
}
.reviews{
    margin-left: 5px;
    width: 1910px
}
