.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    margin-top: 200px;
    justify-content: center;
    align-content: stretch;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    background-color: hsl(191, 71%, 60%);

}


.flexbox-item-1 {
    min-height: 200px;
    width: 600px;
    margin: 10px;
}


.imagecontainer {
    justify-content: center;
    align-items: stretch;
    min-height: 300px;
    width: 700px;

    margin: 10px;
}

.delivery {
    font-size: 70px;
}

.input {
    width: 300px;
    height: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    border-radius: 50px;
    border: hsl(191, 71%, 60%)
}
.arrow{
    position: relative;
    right: 5px;
    bottom: 1px;
}
.arrowbutton {
    border-radius: 50px;
    border: 0.01px solid hsl(191, 71%, 60%);
    width: 20px;
    height: 26px;
    background-color: white;
    position: relative;
    top: 5px;
    left: 5px
}


.descriptioncontainer {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.itemnumber {
    min-height: 10px;
    width: 300px;
    margin-top: 10px;
    margin-left: 30px;
    text-align: center;
    margin-right: 30px;
}

.descriptionicons {
    font-size: 40px;
}

.guarantee {
    text-align: center;
    color: rgb(199, 191, 191);
}
.guaranteed {
    background-color: white;
    margin-top: -17px;
}

.shoppingbutton {
    border: none;
}

.title {
    font-size: 70px;
}

.categorytitle {
    text-align: center;
    margin-top: 70px;
}

.shopping {
    color: #52c7e2;
    font-weight: bold;
    margin-bottom: 50px;
}

.categorycontainer1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;

}

.categorycontainer2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.category {
    min-height: 200px;
    width: 200px;
    margin: 10px;
    background-color: #dfdfdf;
}
.categorysection {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.category:hover {
    border: 1px solid black;
}

.categoryicon {
    padding: 50px;
    font-size: 50px;
    color: #36bad7;
}

.reviews {
    margin-left: 5px;
    max-width: 100%;
    height: auto;
}
.join{
     background-color: white;
     flex-direction: column;
     display: flex;
     box-sizing: border-box;
    transition-duration: calc(var(--duration) * 100ms);
    margin-bottom: 50px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
    
}

.joinus{
    position: relative;
    left: 650px;
    bottom: 200px;
    background-color: hsl(191, 71%, 60%);
    width: 500px;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px 50px;
}
.joinapply{
    position: relative;
    left: 0px;
    margin-top: 50px;
}

.jointitle{
    font-weight: bold;
    font-size: large;
}


.webtitle {
    font-size: 100px;
    font-weight: bold;
    color: black;
    font-family: Monaco;
    background-color: #36bad7;
    text-align: center;
    width:800px;
    border-radius: 15px 50px;
    position: relative;
    left: 100px;
    margin-bottom: -150px;
    margin-top: 50px;
    transition: width 1s, height 2s;
    border: 1px solid black;
    
    
}

.webtitle:hover {
    width: 1200px;
}

.shoppingcart{
    width: 400px;
    height: 150px;
    position: relative;
    
    margin-bottom: -150px;
    mix-blend-mode: multiply;
    bottom: 110px;
}
.deliveryapply{
    position: relative;
    top: 150px;
    left: 200px;
    width: 600px;
    border-radius: 15px;
}
.deliverypic{
    width: 600px;
    height: 400px;
    border-radius: 15px;
}
.applybutton{
    background-color: white;
    color: hsl(191, 71%, 60%);
    font-weight: bold;
    border-radius: 15px;
    font-size: large;
}
.applybutton:hover{
    color:white;
    background-color: hsl(191, 71%, 60%);

}
.community{
    font-size: 70px;
    text-align: center;
    margin-bottom: -60px;

}
.applyform{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;

}
.checkboxtext{
    width: 200px;
    position:relative;
    
}
.checkbox{
    position: relative;
    right:120px;
    top: 100px;
    font-size: 100px
}
.star{
    color: red;
}

.contact{
    background-color: white;
    margin: 50px 50px;
    border-radius: 15px;
    border: 1px solid black;
    width: 900px;
   margin-bottom: 100px;
   position: relative;
   left:200px
}
.joinustitle{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #36bad7;
}
.joinusdesc{
    text-align: center;
    width: 300px;
    position: relative;
    left: 300px;
    font-weight: bold;
    font-size: large;

}



