.ItemListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
}

.itemcontainer{
    width: 150px;
    height: 120px;
    margin: 10px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 10;
}

.ItemCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Addtocart{
    background-color: hotpink;
    width: 130px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
}

.itemcontainerwithcart{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
}

.itemtitle{
    width: 130px;
    font-size: medium;
    text-align: center;
}
