.about{
    overflow: hidden;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: block;
    padding: 15px;
    margin-bottom: 150px;
}

.aboutus{
    text-align:center;
    
}

.aboutustitle{
    font-size: 100px;
    font-weight: bold;
    color: #36bad7;
}

