.formsection {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 150px;
}

.formwithtitle {

    display: flex;
    flex-direction: column;
    align-items: center;
}