.storeViewingLocations{
    float: left;
    width: 25%;
    text-align: center;
}

.ourStores{
    text-align: center;

}

.StorelocationsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



