/* Style the buttons that are used to open and close the accordion panel */
.faqtitle{
  font-size: 100px;
  font-weight: bold;
  color: #36bad7;
}
.faq{
  text-align:center;
  overflow: hidden;
    position: relative;
    
    display: block;
    padding: 15px;
    margin-bottom: 150px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}
.names{
    text-align: center;
    
}
 .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 16px; 
    margin-bottom: 12px;
    width: 30%;
    border: 1px solid black;
    outline: none;
    transition: 0.4s;
    display: grid;
    grid-gap: 15px;
    left: 50%;
    transform: translate(-50%, -4%); 
   
  }
  

  .active, .accordion:hover {
    background-color: #ccc;
  }
  