.container{
	max-width: 1170px;
	margin:auto;
    margin-bottom: -70px;
    margin-top: -20px;
}

.row{
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
}

.footer{
    overflow: hidden;
    background-color: #e9e9e9;
    margin-top: -70px;
    height: 360px
}

ul{
	list-style: none;
    
}

.footer-col{
    width: 25%;
    padding: -1px 15px;
    text-align: center;
 }

 .footer-col h4{
     font-size: 25px;
     color: black;
     text-transform: capitalize;
     margin-bottom: 30px;
     font-weight: 500;
     position: relative;
     display: flex;
     flex-direction: column;
     text-align: center;
     left: 15px;
     font-weight: bold;
 }

 .footer-col h4::before{
     content: '';
     position: absolute;
     left:0;
     bottom: -10px;
     /* background-color: red; */
     height: 2px;
     box-sizing: border-box;
     width: 50px;
 }

 .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
 }

 .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: black;
     text-decoration: none;
     font-weight: 300;
     /* color: #bbbbbb; */
     display: block;
     transition: all 0.3s ease;
     margin-bottom: 10px;
 }

 .footer-col ul li a:hover{
    background-color: hsl(191, 71%, 60%);
    color: black;
 }

 .gomartfooter{
     position: relative;
     top: 80px;
 }

 .social{
     font-size: 35px;
 }
 
 .links{
     text-decoration: none;
     list-style: none;
 }

 .socialmedia{
    margin-top: 100px;
    display: flex;
    float: right;
    margin-right: 100px;
 }

 .facebook{
     margin-right: 30px;
 }

 .twitter{
    margin-right: 30px;
 }

 .flag{
    height: 40px;
    width: 40px;
    position: relative;
    left: 70px;
    margin-top: -15px;
}

 .privacy{
    margin-top: 100px;
    display: flex;
    float: left;
    margin-left: 100px;
 }
 .gomartfooter{
     position: relative;
     left: 100px;
     color: rgb(76, 76, 76)
 }

 .privnotice{
    margin-left: 30px;
 }

 .terms{
     margin-left: 30px;
 }