.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
}
.footer{
    overflow: hidden;
    background-color: #e9e9e9;
}
ul{
	list-style: none;
    text-align: center;
}
.footer-col{
    width: 25%;
    padding: -1px 15px;
    text-align: center;
    
 }
 .footer-col h4{
     font-size: 18px;
     color: black;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;
     display: flex;
     flex-direction: column;
     text-align: center;
 }
 .footer-col h4::before{
     content: '';
     position: absolute;
     left:0;
     bottom: -10px;
     /* background-color: red; */
     height: 2px;
     box-sizing: border-box;
     width: 50px;
 }
 .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
 }
 .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: black;
     text-decoration: none;
     font-weight: 300;
     /* color: #bbbbbb; */
     display: block;
     transition: all 0.3s ease;
 }
 .footer-col ul li a:hover{
    background-color: #ddd;
    color: black;
 }
 .social{
     font-size: 35px;

 }